* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color:azure;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #031a29;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.photo {
    
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/portfolio-img.png");
    /* background-image: url("../images/digital-marketing-meeting.jpg"); */
    background-size: cover;
    background-position: center;
}

.image-text {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    color:#2589bd /* Text color */
    
}


.float-left {                        /*section title */
    float: left;
    margin: 0px 25px 0px 50px;
    width: 50px;

}

.float-right {
    float: right;
    margin-left: 25px;
}

.vertical-line{
    border: #2589bd 2px solid;
    height: 100%;
    margin-left: 20px;
    min-height: 200px;
}

.container{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    align-items: center;
    min-height: 200px;
    padding: 20px;
}

.content{
    display: flex; 
    text-align: left;
    padding: 20px;
    flex-wrap: wrap;
}

.project {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    max-width: 400px;
}

.project-img-container {
    max-width: 450px;                /* max width for image container */
    margin-right: 20px;             /* margin between image and details */
}

.project img {
    max-width: 100%; /* to make images are responsive */
    height: auto;
    display: block;
}

.project-details {
    flex-grow: 1; /* Allow details to grow to fill remaining space */
}

.project h3 {
    margin-top: 0; /* Remove top margin for consistency */
}

.project p {
    margin-bottom: 10px;
}

.project a {
    display: block;
    margin-top: 10px;
    color: #2589bd;
}

footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around footer content */
    text-align: center; /* Center-align footer content */
}

footer ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
}

footer ul li {
    display: inline; /* Display list items inline */
    margin-right: 10px; /* Add spacing between list items */
}

footer ul li:last-child {
    margin-right: 0; /* Remove right margin for the last list item */
}

footer ul li a {
    color: #fff; /* Text color for links */
    text-decoration: none; /* Remove underline from links */
}

footer ul li a:hover {
    text-decoration: underline; /* Underline links on hover */
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px; 
        max-width: 100%; 
    }
}

/* .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} */

/* .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.about-me img {
    max-height: 200px;
}

.work img {
    max-height: 200px;
}

.contact-me img {
    max-height: 200px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */


