* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color:azure;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #727374;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.portfolio-img {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/portfolio-img.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    justify-items: center;
}
.image-text {
    position: absolute;
    bottom: 20%; 
    top:auto;
    right: 20px; /* Adjust distance from the right side */
    transform: translateY(-150%); /* Center text vertically */
    padding: 20px;   
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); 
        
}


.float-left {                        /*section title */
    float: left;
    margin: 0px 25px 0px 50px;
    width: 50px;

}

.project-img-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.larger-image img {
    transform: scale(1.1); /* Increase size by 10% */
}

.float-right {
    float: right;
    margin-left: 25px;
}

.vertical-line{
    border: #2589bd 2px solid;
    height: 100%;
    margin-left: 20px;
    min-height: 200px;
}

.container{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    align-items: center;
    min-height: 200px;
    padding: 20px;
}

.content{
    display: flex; 
    text-align: left;
    padding: 20px;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex: 1 0 100%;
    /* position: relative; */
    margin-bottom: 20px;
    /* max-width: 400px; */
    
   
}

#work-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.first-project{
    flex: 2 0 100%;
}


.project-img-container {
    max-width: 450px;                /* max width for image container */
    margin-right: 20px;             /* margin between image and details */
}

.project img {
    max-width: 100%; /* to make images are responsive */
    height: auto;
    display: block;
}

.project-details {
    flex-grow: 1; 
}

.project h3 {
    margin-top: 0; 
}

.project p {
    margin-bottom: 10px;
}

.project a {
    display: block;
    margin-top: 10px;
    color: #2589bd;
}

.footer {
    width: 100%;
    padding: 20px; /* Padding around footer content */
    text-align: center; /* Center-align footer content */
}

.footer ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.footer ul li {
    display: inline; /* Display list items inline */
    margin-right: 30px; /* Add spacing between list items */
}

.footer ul li:last-child {
    margin-right: 0; /* Remove right margin for the last list item */
}

.footer ul li a {
    color: black /* Text color for links */
    
}

.footer ul li a:hover {
    text-decoration: underline; /* Underline links on hover */
}
@media screen and (min-width: 768px) {
    .project {
        flex: 1 0 50%;
        /* max-width: 400px; */
    }

    .first-project{
        flex: 2 0 50%;
    }
}

@media screen and (min-width: 992px) {
    .project {
        flex: 1 0 25%;
        /* max-width: 400px; */
    }

    .first-project{
        flex: 4 0 25%;
    }
}



